* {
  margin: 0px;
  padding: 0px;

  color: white;
}

.main {
  background-image: url("не_кампудахтер.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;

  color: white;
}
.main_title {
  text-transform: uppercase;
  color: white;
  font-size: 86px;
  text-align: center;
  padding: 50px;
  font-family: "Josefin Sans", sans-serif;
}
.textp {
  padding: 14px;
}

.ssulka {
  display: block;
  font-family: "Poppins";
  font-weight: 600;
  width: 210px;
  height: 50px;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  color: black;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  margin-top: 50px;
  transition: all 0.3s ease;
}
.ssulka:hover {
  background-color: #1a1a1a;
  color: #fff;
}
.knopka {
  padding-bottom: 200px;
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
}
.stornoway {
  text-decoration: none;
  font-size: 25px;
  padding-right: 500px;
}
.about {
  text-decoration: none;
  font-size: 18px;
  margin-left: 44px;
  transition: all 0.4s;
    position: relative;
    overflow: hidden;
}
.about:hover {
  border-bottom: 1px solid #fff;
}
